.about-page {
    padding: 20px;
    background-color: var(--colorShadeE);
  
    .about-header {
      text-align: center;
  
      h1 {
        color: var(--colorShadeA);
      }
    }
  
    .about-content {
      h2 {
        color: var(--colorShadeA);
      }
      p {
        color: var(--colorShadeB);
      }
    }
  
    .about-education {
      padding: 20px;
    }
  }
  